# First ignore all files and dirs in the root directory
**

# Then make exceptions for certain files
!webview/dist/**
!webview/utilities
!out/**
!media/**
!LICENSE
!README.md

# Ensure node-fetch is included
!node_modules/node-fetch/**
!node_modules/whatwg-url/**
!node_modules/tr46/**
!node_modules/webidl-conversions/**
!node_modules/dotenv/**


# Include specific HTML file in the webview
!webview/index.html

# Include specific CSS assets that are being fetched and not found
!webview/assets/reset.css
!webview/assets/vscode.css
!node_modules/@vscode/codicons/dist/codicon.css
